/* General Styling */

main {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    background-color: #FFF1E6;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #FFF1E6;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 10vw;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 8vw;
    padding: 0.2vw;
}

h3 {
    font-size: 6vw;
}

body {
    background-color: #EDDCD2;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 4vw;
}

ul {
    list-style-type: none;
}

img {
    width: 50%;
}

a:link, a:visited {
    background-color: #E2C6B6;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: black;
    text-decoration: underlined;
}

.group {
    flex-direction: column;
    flex: 1;
    margin: 2vw;
}

#intro {
    color: red;
}

/* Navigation */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2vw;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

#menu li {
    display: flex;
}

#languages li {
    font-size: 3.5vw;
}

/* form */

form label {
    display: block;
    padding: 10px;
    font-size: 4vw
}

input[type=text] {
    width: 40vw;
    height: 4vh;
}

textarea {
    margin-bottom: 15px;
    height: 6vh;
    width: 40vw;
}

#submit-button {
    width: 40vw;
    height: 3vh;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

#contact {
    margin-bottom: 2vh;
}

/* Desktop Styles */

@media all and (min-width: 1025px) {
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 2.5vw;
        padding: 0.2vw;
    }
    h3 {
        font-size: 2vw;
    }
    p {
        font-size: 1.5vw;
    }
    #languages li {
        font-size: 1.2vw;
    }
    form label {
        font-size: 2vw
    }
}