/* General Styling */
main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #FFF1E6;
}

header {
    background-color: #FFF1E6;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

h3 {
    font-size: 18px;
}



body {
    background-color: #EDDCD2;
    display: flex;
    flex-direction: column;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    
}

ul {
    list-style-type: none;
}

img {
    width: 50%;
}

a:link, a:visited {
    background-color: #E2C6B6;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover {
    color: black;
    text-decoration: underlined;
}

.group {
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

/* Navigation */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-direction: row;

}


/* form */
form label {
    display: block;
    padding:10px;
  }

textarea {
    margin-bottom: 15px;
}

#submit-button {
    justify-content: center;
}


/* Desktop Styles */
@media all and (min-width: 600px) {
    p {
        font-size: 16px;
        line-height: 25px;
    }

    header {
        flex:1;
        margin: 10px;
    }
    .intro {
        flex-grow: 2;
        margin: 10px;
    }
    h2 {
        font-size: 22px;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0 10%
    }


}